<!DOCTYPE html>
<html>
    <head>
        <title>Connect Four</title>
        <link rel="stylesheet" href="stylesheets/splash.css">
    </head>
    <body background="" onload="checkCookie()">
        <main>
            <section id="left">
                <div id="visits" style="margin-bottom: 100px;"></div>
            <center>
                <div style="margin-bottom: 50px;">
                Games Initialised:
                <%= gamesInitialized %> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Players Connected:
                <%= playersConnected %>
                </div>
            </center>
            </section>
            <div id="logo"> </div>
            <center>
            <div id = "howTo" style="margin-bottom: 100px;">How to play</div>
                    <form action="/play" method="get">
                            <button id="button" type="play" class="button">Play!</button>
                    </form>
                </center>


        </main>
       
        <script src="javascripts/logger.js"></script>
    </body>
</html>
