<!DOCTYPE html>
<html>
    <head>
        <title>Connect Four</title>
        <link rel="stylesheet" href="stylesheets/splash.css">
    </head>
    <body background="" onload="checkCookie()">
        <main>
            <section id="left">
                <div id="visits"></div>
                <div id ="stats">
                <button id="fs-toggle">Toggle Fullscreen</button>
                    <h3><%= gamesInitialized %> 
                        <%if (gamesInitialized != 1) { %>
                            games
                        <% } else { %>
                            game
                        <% } %>initialized
                    </h3>
                    <h3>
                        <%= gamesCompleted %> 
                        games completed 
                    </h3>
                </div>
            </section>
            <section id="right">
                &nbsp;
            </section>
            <div id="logo">...Logo...(style with CSS)</div>
            <div id = "howTo">How to play</div>
                    <form action="/play" method="get">
                            <button type="play" class="button">Play!</button>
                    </form>


        </main>
       
        <script src="javascripts/logger.js"></script>
    </body>
</html>