@import "style.css";

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.columns {
    display: block;
    margin: auto;
    width: 686px;
}

.column {
    width: 78px;
    display: inline-block;
    margin-right: 15.6px;  
    vertical-align: top;
    margin-top: 0px;
    background-color: whitesmoke;
}

.bubble {
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 11px;
  height: 55px;
  width: 55px;
  background-color: black;
  border-radius: 50%;
}

.markerrow {
    display: flex;
    margin-top: 30px;
    margin-left: 23.2%;
    width: 700px;
    height: 80px;
    background-color: thistle;
    vertical-align: top;
}

.marker {
    margin-left: 11px;
    margin-right: 32.4px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: lightgreen;
}
